.city {
  font-size: 30px;
  font-weight: 600;
}
.emoji,
.temp-value {
  font-size: 74px;
}
.emoji img {
  vertical-align: top;
}
.temp-type {
  padding: 16px 12px 0 12px;
}
.poin {
  cursor: pointer;
}
.main-block {
  padding-left: 20%;
  padding-right: 20%;
}

.footer {
  position: absolute;
  bottom: 5rem;
  right: 50%;
  text-align: center;
}
.f-left {
  float: left;
}
.blue {
  color: blue;
}
.info-data {
  padding-top: 16px;
  margin-left: 24px;
}
